@{
	string header = ViewBag.Header;
	string description = ViewBag.Description;
}

<div class="bs-callout bs-callout-danger" id="callout-glyphicons-dont-mix">
    <h4>@header</h4>
    <p>@description</p>
</div>
