@using JustTrade.Helpers

<div class="bs-callout bs-callout-information" id="callout-glyphicons-dont-mix">
    <h4>@Lang.Get("Database generated success")</h4>
    <p>@Lang.Get("You can use database")</p>
</div>
