@using JustTrade.Helpers

<link rel="stylesheet" href="../Content/css/admin/database.css">

<ol class="breadcrumb admin-page-header">
	<li> - @Lang.Get("Database management")</li>
</ol>


<button id="generate_button" type="button" class="btn btn-default" onclick="GenerateDatabase()">
	<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> @Lang.Get("Generate database")
</button>
<div id="result" > </div>

<hr />


<script lang="java script">

 function GenerateDatabase(){
    $("#result").load("Admin/GenerateDatabase");
 }

</script>