<body>
    <input type="button" onclick="GenerateDatabase()" value="CreateDatbase" />
    <hr />
    <div id="result" />
</body>


<script lang="java script">

 function GenerateDatabase(){
    $("#result").load("Admin/GenerateDatabase");
 }

</script>