@using JustTrade.Helpers

<ol class="breadcrumb category-header">
    Подключение к базе данных. ( Состояние: неизветно ) @Lang.Get("Connection_to_database")
</ol>

<div id="database_block">

    <div class="rowcol-sm-4">
        <label for="select_database_type"> Выберите тип базы данных </label>
        <select id="select_database_type" class="col-sm-2 selectpicker" multiple  data-max-options="1">

        </select>
    </div>

    <div class="row ">
        <div class="input-group col-sm-4 input-span15">
            <span class="input-group-addon">Хост</span>
            <input id="db_host" type="text" class="form-control" placeholder="...">
        </div>
    </div>

    <div class="row ">
        <div class="input-group col-sm-4 input-span15">
            <span class="input-group-addon">База данных</span>
            <input id="db_name" type="text" class="form-control" placeholder="...">
        </div>
    </div>

    <div class="row ">
        <div class="input-group col-sm-4 input-span15">
            <span class="input-group-addon">Логин</span>
            <input id="db_login" type="text" class="form-control" placeholder="...">
        </div>
    </div>

    <div class="row ">
        <div class="input-group col-sm-4 input-span15">
            <span class="input-group-addon">Пароль</span>
            <input id="db_password" type="password" class="form-control" placeholder="...">
        </div>
    </div>

    <div class="row">
        <button class="btn btn-default" onclick="CreateDB()" type="button">Сгенерировать базу данных</button>
    </div>

    <div class="row">
        <div id="create_db_response" style="display: none" class="alert alert-danger col-sm-4 " role="alert"></div>
    </div>

</div>

<ol class="breadcrumb category-header">
    Еще какянить настрока :)
</ol>


<script lang="javascript">
    
    $(document).ready(function() {
        LoadCompoBox();
        $('.selectpicker').selectpicker();
    });

    function LoadCompoBox(){
        $.getJSON( "Admin/GetDatabaseTypeList", function( data ) {
            for(var i=0;i<data.length;i++){
                $('#select_database_type').
                        append("<option value=\""+data[i]+"\">"+data[i].replace(".cfg.xml","")+"</option>");
            }
            $('.selectpicker').selectpicker("refresh");
        });
    }

    function CreateDB(){
    	$.post( "Admin/CreateDatabase",
                { databaseType: $('.selectpicker').val(), host: $("#db_host").val(),
                    database: $("#db_name").val(), user: $("#db_login").val(), password: $("#db_password").val() } )
                .done(function( data ) {
                    debugger;
                    if(data.result == "success") {
                        $("#create_db_response").addClass("alert-success");
                    }
                    $("#create_db_response").html(data.details);
                    $("#create_db_response").fadeIn(1000);
                });
    }

</script>