
<ol id="database_header" class="breadcrumb">
  Подключение к базе данных. ( Состояние: неизветно )
</ol>

<div id="database_block">

<label> Выберите тип базы данных </label>

<select class="col-sm-2 selectpicker" multiple  data-max-options="1">
  <option>PostgreSQL</option>
  <option>MySql</option>
  <option>Microsoft Sql Server</option>
</select>

<br /> <br />

<div class="input-group">
  <span class="input-group-addon">ывавыа</span>
  <input type="text" class="form-control" placeholder="Username">
</div>

<br /> <br />

<div class="input-group col-sm-6 ">
  <span class="input-group-btn">
    <button class="btn btn-default" type="button">Сгенерировать базу данных</button>
  </span>
  <input type="text" class="form-control col-sm-6" value=" ... ">
</div>

</div>

<script lang="javascript">
 $(document).ready(function() {
 	$('.selectpicker').selectpicker();
 });
</script>