@{
	ViewBag.Title = "Administrate";
    Layout = "~/Views/Shared/_Header.cshtml";
}

 <script src="Scripts\ajax_tools.js"></script>

<body>
    <div id="main">
     
    </div>
</body>


<script lang="java script">
    $(document).ready(function() {
        LoadDefaultMenu();
    });

    function LoadDefaultMenu() {
        $("#main").load("Admin/Database");
    }
</script>