#template_window
{
	width: 100%;
	height: 500px;
	overflow-y: scroll;
	margin-left: 5px;
}

#template_list
{
	display: inline-table;
	width: 20%;
}

#template_window li
{
	margin-left: 5px;
	margin-right: 5px;
}

#template_window li
{
	cursor: pointer;
}

.selected-item
{
	background-color: cornsilk;
}

#contextMenu li a
{
	font-size: 13px;
}

#contextMenu li
{
	cursor: pointer;
}

#contextMenu .divider
{
	margin: 3px 0px;
}

#permition_list
{
	display: inline-table;
	margin-left: 10px;
	width: 75%;
}

.square-button
{
	width: 25px;
	height: 25px;
	background-color: #33E667;
	position: absolute;
	margin: -50px 5px;
	cursor: pointer;
	-ms-border-radius: 15px;
	border-radius: 15px;
}

.square-button-disabled
{
	background-color: darkgray;
	cursor: default;
}

#permition_list span
{
	margin: 5px;
}

#permition_list ol li
{
	margin-left: 20px;
}

.selested-item
{
	background-color: #B0BED9 !important;
}

.ui-dialog
{
	font-size: 12px;
}
