
.dataTables_wrapper
{
	width: 96%;
	left: 0;
	right: 0;
	margin: auto;
}

.add-update-user-form-container div span
{
	width: 150px;
	margin-left: 10px;
}

#IsSuperuser
{
	width: 35px;
	margin-left: 10px;
}

.selected
{
	background-color: #B0BED9 !important;
}

.dropdown-menu li
{
	cursor: pointer;
}

.context-menu-checkbox > i > input
{
	width: 15px;
	height: 15px;
	margin-left: 5px;
	
}
