
.dataTables_wrapper
{
	width: 96%;
	left: 0;
	right: 0;
	margin: auto;
}

.add-update-user-form-container div span.input-group-addon
{
	width: 175px;
	margin-left: 10px;
}

.add-update-user-form-container .input-group {
	margin-bottom: 5px;
}

#IsSuperuser
{
	width: 35px;
	margin-left: 10px;
}

.selected
{
	background-color: #B0BED9 !important;
}

.dropdown-menu li
{
	cursor: pointer;
}

.context-menu-checkbox > i > input
{
	width: 15px;
	height: 15px;
	margin-left: 5px;
	
}

/* For context menu */ 
#contextMenu li a {
	font-size: 13px;
}

#contextMenu li {
	cursor: pointer;
}

#contextMenu .divider {
	margin: 3px 0px;
}

div.input-group {
	width: 420px;
}