@{
var users = ViewBag.Users;

}


@{
	if(users!=null)
	{
		foreach(var user in users)
		{
			<div>User @user.Name -  @user.Password </div>
		}
	}
}

<h2>Welcome to ASP.NET MVC @ViewData["Version"] on @ViewData["Runtime"]!</h2>

