#header_body
{
	margin-top: 60px;
}

.admin-page-header
{
	font-weight: bold;
}

.progress #info
{
	position: absolute;
	margin-left: 5px;
	color: darkblue;
	font-family: monospace;
}
