
<link rel="stylesheet" href="../Content/css/error/permission.css">

<!DOCTYPE html>

<html>
	<head>
		<title>title</title>
	</head>
	<body>
		<div id="access_denied">
			 <img src="/content/images/access-denied.png"/>
		</div>
	</body>
</html>