<?xml version="1.0" encoding="utf-8"?>
<hibernate-configuration  xmlns="urn:nhibernate-configuration-2.2" >
	<session-factory name="NHibernate.Test">
		<property name="connection.driver_class">NHibernate.Driver.NpgsqlDriver</property>
		<property name="connection.connection_string">
			Server=localhost;Database=nhibernate;User ID=postgres;Password=1;
		</property>
		<property name="dialect">NHibernate.Dialect.PostgreSQL82Dialect</property>
	</session-factory>
</hibernate-configuration>