<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../Content/bootstrap-select.min.css">
	<link rel="stylesheet" href="../Content/jquery_ui/jquery-ui.min.css">
	<link rel="stylesheet" href="../Content/css/admin.css">
	<link rel="stylesheet" href="../Content/bootstrap.min.css">
	<link rel="stylesheet" href="../Content/bootstrap-theme.css">
	<link rel="stylesheet" href="../Content/DataTables/css/jquery.dataTables.min.css">
	<link rel="stylesheet" href="../Content/css/inputValidate.css">
	<link rel="stylesheet" href="../Content/inform-block.css">

	<script src="../Scripts/jquery-2.1.4.min.js"></script>
	<script src="../Scripts/bootstrap.min.js"></script>
	<script src="../Scripts/bootstrap-select.min.js"></script>
	<script src="../Scripts/jquery.blockUI.js"></script>
	<script src="../Scripts/jquery-ui-1.11.4.min.js"></script>
	<script src="../Scripts/ShowBlockUI.js"></script>
	<script src="../Scripts/debug.js"></script>
	<script src="../Scripts/language.js"></script>
	<script src="../Scripts/Tools.js"></script>
	<script src="../Scripts/MessageBox.js"></script>
	<script src="../Scripts/InputValidator.js"></script>
</head>
<body>
	@RenderBody()
</body>
</html>

