@using JustTrade.Helpers
@{
    ViewBag.Title = "Login screen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<link rel="stylesheet" href="../Content/css/login.css">
<html>
<body>
    <div class="login-form-container">

        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1"> @Lang.Get("Login")</span>
            <input id="login" type="text" class="form-control" aria-describedby="basic-addon1">
        </div>

        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1"> @Lang.Get("Password")</span>
            <input id="password" type="password" class="form-control" aria-describedby="basic-addon1">
        </div>

        <button type="button" class="btn btn-default" onclick="Login()">
            <span class="glyphicon glyphicon-send" aria-hidden="true"></span> @Lang.Get("Authorization")
        </button>

    </div>
    <div id="result" style="display: none"></div>

</body>
</html>

<script language="javascript">

	$(document).ready(function () {
		Language.Init(function () {
			
		});
	});


    function Login() {
        ShowBlockUI.Show();
        $.ajax(
			{
			    url: "/Login/Login?login=" + $("#login").val() + "&password=" + $("#password").val(),
			    success: function (data) {
			        if (data.length > 1) {
			            $("#result").append(data);
			        } else {
			            window.location = "/Home";
			        }
			    },
			    dataType: 'html',
			    complete: function () {
			        $.unblockUI();
			    },
			    error: function (xhr, status, error) {
			        var message = '@Lang.Get("Error connect to server. Message:")';
			        alert(message + error);
			    }
			});
    }

</script>
