<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="lang" value="rus"/>
  </appSettings>
  <system.web>
    <compilation debug="true">
      <assemblies/>
    </compilation>
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
</configuration>