<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="lang" value="rus" />
  </appSettings>
  <system.web>
    <compilation>
      <assemblies />
    </compilation>
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>